execution:
  order:
    - bronze
    - silver

assets:

  bronze:

    # ============================================================
    # BRONZE – CUSTOMERS (JSON)
    # ============================================================
    - name: bronze_customers_json
      asset_type: local_file
      file_format: json

      source_path: D:\kamti_framework_DAB\data\bronze\Source\customers\customers.json
      target_path: D:\kamti_framework_DAB\data\bronze\Target\customers_json
      write_mode: overwrite

      options:
        multiline: true

      transformations:
        metadata:
          add_ingest_ts: true
          add_source_file: true
          add_batch_id: true


  silver:

    # ============================================================
    # SILVER – CUSTOMERS (JSON)
    # ============================================================
    - name: silver_customers_json
      asset_type: delta_table

      source_path: D:\kamti_framework_DAB\data\bronze\Target\customers_json
      target_path: D:\kamti_framework_DAB\data\silver\target\customers_json
      write_mode: overwrite

      transformations:

        # 0️⃣ Flatten nested JSON (STRUCT + ARRAY)
        - order: 0
          flatten_json:
            enabled: true

        # 1️⃣ Validate mandatory fields
        - order: 1
          schema_validation:
            required_columns:
              - customer_id
              - orders_order_id

        # 2️⃣ Handle missing optional JSON keys
        - order: 2
          json_key_default:
            columns:
              - name: metadata_source
                default: "unknown"

        # 3️⃣ Normalize empty arrays
        - order: 3
          array_size_validation:
            columns:
              - orders

        # 4️⃣ Clean email
        - order: 4
          regex_clean:
            enabled: true
            email_columns:
              - name: customer_email
                out: customer_email
                trim: true
                lowercase: true
            number_columns: []

        # 5️⃣ Standardize column names
        - order: 5
          standardize_column_case:
            enabled: true
            format: snake_case

        # 6️⃣ Drop records without customer_id
        - order: 6
          null_handling:
            enabled: true
            drop_if_null:
              - customer_id

        # 7️⃣ Remove duplicate customers
        - order: 7
          duplicate_handling:
            enabled: true
            unique_keys:
              - customer_id
              - orders_order_id

        # 8️⃣ Generate surrogate key
        - order: 8
          surrogate_key:
            enabled: true
            column: customer_order_sk
            method: uuid
