scd_tables:

  - table_name: silver_customers
    source_path: D:\kamti_framework_DAB\data\silver\target\customers
    target_path: D:\kamti_framework_DAB\scd_output1\customers

    scd:
      enabled: true
      type: scd1
      business_keys:
        - customer_id
      upsert_columns:
        - first_name
        - last_name
        - email
        - phone
        - birth_date
        - created_at


  - table_name: silver_accounts
    source_path: D:\kamti_framework_DAB\data\silver\target\accounts
    target_path: D:\kamti_framework_DAB\scd_output1\accounts

    scd:
      enabled: true
      type: scd2
      business_keys:
        - account_id
      tracked_columns:
        - balance
        - status
      scd2_columns:
        start_date: start_date
        end_date: end_date
        is_current: is_current


  - table_name: silver_transactions
    source_path: D:\kamti_framework_DAB\data\silver\target\transactions
    target_path: D:\kamti_framework_DAB\scd_output1\transactions

    scd:
      enabled: true
      type: none   # FACT (CDC append)

# asset:
#   source_path: D:\kamti_framework_DAB\data\silver\target\customers
#   target_path: D:\kamti_framework_DAB\scd_output

# scd:
#   enabled: true
#   type: scd2        # scd1 or scd2

#   business_keys:
#     - customer_id

#   tracked_columns:
#     - name
#     - email
#     - address
#     - status

#   scd2_columns:
#     start_date: start_date
#     end_date: end_date
#     is_current: is_current
